<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
	</style>
</head>
<body>

	<div id="root">
		<h1>
			{{ reversedMessage }}
		</h1>

		<h1>All Tasks</h1>

		<ul>
			<li v-for="task in tasks">{{ task.description }}</li>
		</ul>

		<h1>Incomplete Tasks</h1>

		<ul>
			<li v-for="task in incompleteTasks">{{ task.description }}</li>
		</ul>
	</div>

	<script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>

	<script type="text/javascript">

		var app = new Vue ({
			el: '#root',
			data: {
				message: 'Hello',

				tasks: [
					{ description: 'Go to store', completed: true }, 
					{ description: 'Eat', completed: true }, 
					{ description: 'Sleep', completed: false }, 
					{ description: 'Code', completed: false }, 
				]

			},
			computed: {
				reversedMessage() {
					return this.message.split('').reverse().join('');
				},

				incompleteTasks() {
					// return this.tasks.filter( task => ! task.completed ); 

					return this.tasks.filter( function(task) {
						return task.completed;
					}) 
				}

			},
			methods: {

			}	
		});

	</script>


</body>
</html>